<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">AQUA DESIGN AMANO  </h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center"><!-- enter Text --></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" style="width:82px;height:62px;border:0;" class="creative-tim-logo">
            </a> 
            
        </h6>
    </div>
    <div class="main">
  <!--added-->  <div class="section ">
            <div class="container">
                <div class="row example-page">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                        <h4 class="title"> Our Latest / Upcoming Products & Events</h4>
                        <h2 class="title">Media Center</h2><br/>
                        <p class="description">
                           Nature Aquarium Goods is a product lineup not only realizing the beautiful aquascape by promoting the healthy growth of plants, but also uniting the whole aquarium system under a single design theme.
Would you be interested in reaching the higher end of Nature Aquarium with professional products?
                        </p><br/>
                        
                        <a href="#" class="btn btn-outline-danger btn-round" target="_blank">Read More</a>
                    </div>

                    
                </div>
            </div>
        </div> 
        <div class="section section-dark">
            <div class="container-fluid content-center">
                <div class="row example-page">
                    <div class="col-lg-3 col-md-3 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/ADA-INNER-CIRCLE.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%">
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/ADA-CAreer.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%">
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                   <div class="col-lg-3 col-md-3 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/ADA-INNER-CIRCLE.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%">
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                         <div class="col-lg-3 col-md-3 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/ADA-INNER-CIRCLE.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%">
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                    
                </div>
            </div>
        </div> 
     <div class="section ">
            <div class="container content-center">
<img src="assets/img/prc07_img01.jpg" usemap="#image-map">

<map name="image-map">
    <area target="_blank" alt="Cube Cabinet" title="Cube Cabinet" href="https://www.adana.co.jp/en/contents/products/na_tank/detail03.html" coords="204,848,202,1379,139,1379,145,842,146,550,837,538,843,787,841,1380,709,1380,418,1387,425,848" shape="poly">
    <area target="_blank" alt="Filter" title="Filter" href="https://adaindia.in/superjet-filters/#2" coords="205,849,416,1380" shape="rect">
    <area target="_blank" alt="Garden" title="Garden" href="https://adaindia.in/cube-garden/" coords="144,134,827,536" shape="rect">
    <area target="_blank" alt="co2 system" title="co2 system" href="https://adaindia.in/co2-systems/#4" coords="839,115,935,474" shape="rect">
    <area target="_blank" alt="Light" title="Light" href="https://adaindia.in/aquasky-series/#4" coords="144,129,831,0" shape="rect">
    <area target="_blank" alt="lily pipe" title="lily pipe" href="https://adaindia.in/lily%20pipe/" coords="60,107,142,716" shape="rect">
</map>   </div>
            </div><!--added-->
      <!--(basic components)  <app-components></app-components><!-- -->
      <!---  <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Nucleo Icons</h2><br/>
                        <p class="description">
                            Now UI Kit comes with 100 custom icons made by our friends from NucleoApp. The official package contains over 2.100 thin icons which are looking great in combination with Now UI Kit Make sure you check all of them and use those that you like the most.
                        </p><br/>
                        <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a>
                        <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">View All Icons</a>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Want to Own these ADA Products
</h2>
                        <p class="description">
Visit our Exclusive Retailers Locator Section to know the nearest ADA India Authorized Nature Aquarium retailer from your place by clicking the “Buy Now” Button.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <div class="social-line text-center">
                                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon" >
                                    <i class="fa fa-twitter"></i>
                                </a>   </div>
                            <form class="register-form">
                                <label>Email</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>

                                <label>Password</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--removed for temp reason <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="section">
           <nav class="navbar navbar-expand-lg bg-danger">
                    <div class="container">
                        <a class="navbar-brand" href="#">Icons</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu-icon" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbar-menu-icon">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk"><i class="nc-icon nc-email-85" aria-hidden="true"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk"><i class="nc-icon nc-single-02" aria-hidden="true"></i></a>
                                </li>
                                <li class="nav-item ">
                                    <div ngbDropdown class="dropdown" placement="bottom-left">
                                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i></a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                            <a class="dropdown-item">Action - 1</a>
                                            <a class="dropdown-item">Another Action</a>
                                            <a class="dropdown-item">Something else is here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Separated link</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            <div class="container text-center">
              <!-- <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you like what you see?</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>
              <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.creative-tim.com/product/paper-kit-2" class="btn btn-warning btn-round">Download free HTML</a>
                        <a href="https://www.creative-tim.com/product/paper-kit-2-angular" class="btn btn-danger btn-round">Download free Angular</a>
                    </div>
                </div> -->
  
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://twitter.com/krishna7unique" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="https://www.instagram.com/krishna__unique/" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-instagram"></i> Instagram
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100028616304162" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/krishnamalireddy" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
